<h1><center>Ruby Rock/Paper/Scissors Game</centre></h1>

  <h2><center>The Rules of the Game</center></h2>

  <p><center>Block of text. Block of text. Block of text.</center><p>
    <p><center>Block of text. Block of text. Block of text.</center><p>
    <p><center>Block of text. Block of text. Block of text.</center><p>

    <!-- <p><center>Block of text. Block of text. Block of text.</center><p>
    <p><center>Block of text. Block of text. Block of text.</center><p> -->

    <p><center>Block of text. Block of text. Block of text.</center><p>
    <p><center>Block of text. Block of text. Block of text.</center><p>
    <p><center>Block of text. Block of text. Block of text.</center><p>

    <p><center>Rock beats Scissors.</center><p>
    <p><center>Scissors beats Paper.</center><p>
    <p><center>Paper beats Rock.</center><p>


<!-- <p><font color="red">Player 1 :</font></p><input type="text" name=:object1><br>

<p><font color="red">Player 2 :</font></p><input type="text" name=:object2><br> -->

<a href="/rockpaperscissors/:object1/:object2">Play the game</a>
